[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=QKit Menu example
Exec=/opt/qkit-menu/bin/qkit-menu
Icon=qkit-menu64
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
