[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=QKit Image drag example
Exec=/usr/bin/invoker --type=d -s /opt/qkit-image-drag/bin/qkit-image-drag
Icon=/usr/share/icons/hicolor/80x80/apps/qkit-image-drag80.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
